.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: lightgray;
    height: 250px;
    width: 150px;
    border: 8px solid darkgray;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
}

.display-container {
    flex: 1;
    border: 1px solid teal;
    border-radius: 8px;
    padding: 8px;
}

.display {
    max-width: 100%;
    text-align: right;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

button {
    flex: 1;
    border: 1px solid teal;
    border-radius: 8px;
}

button.operation,
button.clear,
button.back,
button.dot {
    background-color: aquamarine;
    border-color: aqua;
}